[Desktop Entry]
Version=1.0
Name=Kryptofranc
Comment=Kryptofranc Wallet Shortcut
Exec=/usr/bin/kyf-qt
Icon=/usr/share/app-install/icons/kryptofranc.png
Terminal=false
Type=Application
Categories=Categories=GTK;GNOME;Internet; 
                         
